@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@plugin "@tailwindcss/forms";
@plugin "flowbite/plugin";
@source "../node_modules/flowbite";
@source "../node_modules/flowbite-react";

@theme {
  --color-primary: #1a1f2b;
  --color-bg: #fffefb;
  --color-footer: #57ba280d;
  --color-accent-1: #f21b1b;
  --color-accent-2: #57ba28;
  --font-Outfit: "Outfit", sans-serif;
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }

  input::placeholder,
  textarea::placeholder {
    color: var(--color-gray-400);
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}

html {
  font-family: "Outfit", sans-serif;
  background: #fffefb;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  /* Safari and Chrome */
}

.no-scrollbar {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

[role="dialog"] {
  height: fit-content;
}

.backdrop-blur {
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 0, 0.5);
}

[aria-label="sidebar-filter"] div {
  background-color: transparent;
}
